.wrapper {
    width: 771px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    margin: 0 0 18px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.percent {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    text-align: right;
    color: rgba(255, 255, 255, 0.85);
}

.input {
    width: 771px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &::-webkit-slider-runnable-track {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
}