.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black-alpha);
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.wrapper {
    width: 90vw;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--color-blue);

    span:first-child {
        color: white;
    }
}

.headerNav {
    display: flex;
    gap: 60px;

    .headerLink {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        text-align: right;
        color: #fff;

        &.selected {
            color: var(--color-blue);
        }
    }
}

@media(max-width: 1200px) {
    .headerNav {
        gap: 30px;
    }
}

// @media(max-width: 760px) {
//     .headerNav {
//         gap: 10px;
//     }
// }