.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black-alpha);
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.wrapper {
    width: 90vw;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--color-blue);

    span:first-child {
        color: white;
    }
}

.headerNav {
    display: flex;
    gap: 60px;
    z-index: 500;

    .headerLink {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        text-align: right;
        color: #fff;

        &.selected {
            color: var(--color-blue);
        }
    }
}

.layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-black-alpha);
    height: 100vh;
    z-index: 400;
}

.opening {
    animation: 0.3s openMenu ease-out;
    -webkit-animation: 0.3s openMenu ease-out;
}

@keyframes openMenu {
    from {
        transform: translateX(-90vw);
        -webkit-transform: translateX(-90vw);
        -moz-transform: translateX(-90vw);
        -ms-transform: translateX(-90vw);
        -o-transform: translateX(-90vw);
    }

    to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes closeMenu {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    to {
        transform: translateX(-90vw);
        -webkit-transform: translateX(-90vw);
        -moz-transform: translateX(-90vw);
        -ms-transform: translateX(-90vw);
        -o-transform: translateX(-90vw);
    }
}

@media(max-width: 1200px) {
    .headerNav {
        gap: 30px;
    }
}

@media(max-width: 760px) {

    .headerNav {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        width: 90vw;
        height: 100vh;
        justify-content: center;
        background-color: var(--color-black-alpha);
        z-index: 500;
        padding-right: 50px;
        box-sizing: border-box;
    }

    .wrapper {
        padding: 0 40px;
    }

    .logo {
        font-size: 16px;
    }
}