.main {
    height: 850px;
    width: 100%;
    background-image: url("/public/images/main-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainWrapper {
    max-width: 1170px;
    width: 90vw;
}

.mainHeader {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;

    .blue {
        color: #3e9cdc;
    }
}

.text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.listItem {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.textWrapper {
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.buttonsWrapper {
    display: flex;
    gap: 30px;
}

.orderButton {
    border-radius: 4px;
    padding: 15px 10px;
    width: 183px;
    height: 43px;
    background: #3e9cdc;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    border-color: #ffffff;

}

.moreButton {
    border: 1px solid #2a2b30;
    border-radius: 4px;
    padding: 15px 10px;
    width: 183px;
    height: 43px;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #2a2b30;
}