:root {
    --color-blue: #42A9ED;
    --color-black-alpha: rgb(16, 16, 29, 0.9);
    --color-footer: #3D4050;
    --font-family: "Lato", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    margin: 0;
}

button:hover,
a:hover {
    cursor: pointer;
}