.label {
    border: 2px solid #3e9cdc;
    border-radius: 3px;
    padding: 10px;
    width: 370px;
    height: 48px;
    background: #ffffff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input {
    display: none;
}

.inputImage {}

.inputText {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #272733;
}